body{
  background-color : lavender;
}
h1{
  color : white;
  background-color: black;
  text-align: center;
  font-size: 2em;
}
h2{
  font-size: 2em;
}
article > h3{
  font-size: 1.5em;
  font-family: Trebuchet MS;
  
}
body > header, body > footer{
  letter-spacing: 1em;
  font-size: 3em;
  text-align: center;
  border: groove black;
}
article > div > h4{
  display: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}
article > div{
  background-color: lightgrey;
  width: 46%;
  margin: 10px;
  
}
